html {
    --angle: 60deg;
    /* Color Palette */
    --bodyBg: #0e0e11;
    --bodyF: #c0bbb4;
    --scrollbarBg: #161616;
    --scrollbarBgH: #272727;
    --thumbBg: #01191f;
    --thumbBgH: #0a3f46;
    --sidebar: #222222;
    --footerBg: #05050a;
}
body{
    color: var(--bodyF);
    background-color: var(--bodyBg);
    margin: 0;
    width:100%; 
    height:100%;
    position: absolute;
    /* Fonts */
    font-family: "Montserrat", sans-serif;
}
main {
    /* Add a left margin to the "page content" that matches the width of the sidebar (140px) */
    margin-left: 160px;
}
header{
    background-image: url("./images/circuits.gif");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
footer{
    background-color: var(--footerBg);
    width:100%;
}
hr {
    width: 5%;
    border: 0px solid teal;
    height: 8px;
    background: linear-gradient(to right,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 100%);
    border-radius: 8px;
    transition-duration: 1s;
}
a {text-decoration: none}
details p{max-width: 64ch}
form{text-align: center}

/* Scrollbars */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    box-shadow: inset 0 0 5px black;
}
::-webkit-scrollbar-track:hover {
    background: var(--scrollbarBgH);
}
::-webkit-scrollbar-thumb {
    background-color: var(--thumbBg);
    border-radius: 15px;
    border: 2px outset #082e38;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--thumbBgH);
    border-color: #216456;
}
details > summary {
    cursor: pointer;
    list-style: none;
    transition: 1s;
}

/*Topcorner classes*/
.topcorner{
    width: 140px;
    height: 140px;
    /* border: 2px solid teal; */
    position: fixed;
    top: 10px;
    z-index: 2;
}
.logo-section{
    width: 140px;
    height: 140px;
    text-align: center;
    border: double 5px transparent;
    border-radius: 50%;
    position: fixed;
    top: 5px;
    left: 2px;
    z-index: 2;
    background-image: linear-gradient(var(--bodyBg),var(--bodyBg)),
                      linear-gradient(0deg,#008bcc,#02243b 10%,#0a3f46 50%,teal 90%,#00dddd 95%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform: rotate(0deg);
    animation: 2s rotate linear infinite;
}
.logo{
    width: 120px;
    height: 120px;
    text-align: center;
    border: none;
    top: 15px;
    left: 12px;
    position: fixed;
    z-index: 4;
}

/*Main Menu Classes*/
/*Visibility Button and condensed zone*/
.topping{
    width: 140px;
    height: 45px;
    background-color:  #222;
    box-sizing: border-box;
    text-align: center;
    padding: 7px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    top: 150px;
    left: 0px;
    position: fixed;
    box-shadow: 8px 8px 5px black;
}
.showBtn{
    visibility: hidden;
    color: black;
    cursor: pointer;
    background-color: transparent;
    box-sizing: content-box;
    margin-left: -42px;
    padding: 0px;
    border: 0px none transparent;
    z-index: 4;
}
.showBtn:hover{color: var(--bodyF)}
.hideBtn{
    color: black;
    cursor: pointer;
    background-color: transparent;
    box-sizing: content-box;
    margin: 0em;
    padding: 0px;
    border: 0px none transparent;
    z-index: 3;
}
.hideBtn:hover{color: var(--bodyF)}
/*Sidebar*/
.sidebar {
    width: 140px;
    height: 70vh;
    max-height: 70vh;
    background: var(--sidebar);
    text-align: center;
    position: fixed;
    top: 190px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    box-shadow: 8px 8px 5px black;
}
.sidebar a {
    text-decoration: none;
    transition: 0.3s;
}
.navIcon {font-size: 32px}
.iconName{font-size: 12px}
.menu{
    margin: 0;
    padding: 1ch 0ch;
}
.menu:hover{
    color: teal;
    background-color: black;
}


.cover{
    background-color: black;
    opacity: 80%;
}
.heading{
    color: white;
    margin-left: 150px;
    padding-top: 40px;
}


.blink {
    color: teal;
    animation: blinker 1s linear infinite;
}
.fa-angle-double-right{
    color: teal;
    transition: 1s;
}
.expand-hr{width: 75vw;}
.downwards{transform: rotate(90deg);}

.presentation{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(1, max-content);
    grid-template-rows: repeat(2, max-content);
}
.presentation-item{
    border: 0.1em dashed teal;
}
.presentation-item.moto{
    grid-column: span 1;
    grid-row: span 1;
    min-width: min-content;
    max-width: max-content;
    height: max-content;
    padding: 0ch 1ch 0ch 4ch;
    background-color: #222222;
    box-shadow: 8px 8px 5px black;
}
.presentation-item.moto p{
    min-width: 65ch;
    max-width: 72vw;
}
.profilePhoto{
    float: right;
    min-height: 20vh;
    max-height: 50vh;
    padding: 1ch 0ch 1ch 0ch;
}
.presentation-item.education{
    grid-column: span 1;
    grid-row: span 1;
    padding: 0ch 4ch;
}

.table{
    display: grid;
    grid-template-columns: max-content repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
}
.cell{
    grid-column: span 1;
    grid-row: span 1;
    text-align: center;
    /* width: max-content; */
    /* border: 0.1em dashed teal; */
}
.cell.text{
    min-width: 10ch;
    width: 20vw;
    max-width: 25ch;
    padding: 1ch 1ch;
}
.cell.text p{
    height: inherit;
    padding: 10% 0%;
}
.cell.image p{
    padding: 0.5em 1em;
}
.shield{
    min-width: 5vw;
    min-height: 10vh;
    max-width: 10vw;
    max-height: 20vh;
    vertical-align: middle;
}
.shield.rounded{
    min-width: 5vw;
    min-height: 10vh;
    max-width: 10vw;
    max-height: 15vh;
}
/* Vertical tab gallery for large screens*/
/* Style the tab */
.tabs-section{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(2, max-content);
}
.tabs-section.hide-small{
    display: grid;
}
.tabs {
    border: none;
    background-color: #222222;
    grid-column: span 1;
    min-width: 16ch;
    max-width: max-content;
}
  /* Style the buttons that are used to open the tab content */
  .tabs button.tablink {
    display: block;
    color: var(--bodyF);
    background-color: inherit;
    padding: 2ch 1ch 2ch 2ch;
    width: 25vw;
    min-width: 22ch;
    text-align: left;
    outline: none;
    border-top: 2px solid #005050;
    border-left: 2px solid #005050;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 8px 8px 5px black;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  /* Change background color of buttons on hover */
  .tabs button:hover {
    background-color: #005050;
  }
  /* Create an active/current "tab button" class */
  .tabs button.active {
    background-color: #002222;
  }
  .description-zone{
    color: black;
    width: 100%;
    grid-column: span 1;
  }
  /* Style the tab content */
  .description-zone .tabcontent {
    width: 0;
    opacity: 0;
    height: 46.5ch;
    padding: 0ch 1ch 0ch 2ch;
    border: 5px solid;
    border-left: none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #743ad5, #d53a9d,#d74e09,orange);
    background-color:var(--bodyF);
    box-shadow: 8px 8px 5px black;
    transition-duration: 1s;
    position: absolute;
    overflow-y: auto;
  }

  .description-zone .tabcontent.active {
    width: 50vw;
    opacity: 1;
  }
  .description-zone .tabcontent p{
    color: black;
  }
.nodesList {
    list-style: none;
}
.node {
    color: black;
    padding-left: 1ch;
}
.node.black::before{
    content: url('images/icons/nodes_bk.png');
    margin-left: -1ch;
    margin-right: 1ch;
    font-size: 1.8em;
    width: 1ch;
    height: 1ch;
    min-width: 1ch;
    padding-top: 0.5ch;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}
.node.white::before{
    content: url('images/icons/nodes-wt.svg');
    margin-left: -1ch;
    margin-right: 1ch;
    font-size: 1.8em;
    width: 1ch;
    height: 1ch;
    min-width: 1ch;
    padding-top: 0.5ch;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}

/* Vertical tab gallery for small screens*/
/* Style the tab */
.tabs-section-mobile{
    width: 95vw;
}
/* Style the buttons that are used to open the tab content */
.tab-title {
    color: var(--bodyF);
    background-color: inherit;
    padding: 2ch 1ch 2ch 2ch;
    /* width: 25vw;
    min-width: 22ch; */
    text-align: center;
    outline: none;
    border: 2px solid #005050;
    border-bottom: none;
    box-shadow: 8px 0px 5px black;
    cursor: pointer;
}
.tab-title.last{
    border-bottom: 2px solid #005050;
    box-shadow: 8px 8px 5px black,0px 0px 5px black;
}

/* Create an active/current "tab button" class */
.tab-title.active {
    background-color: #002222;
}

  /* Style the tab content */
.tab-content {
    color: black;
    padding: 0ch 1ch 0ch 2ch;
    border: 5px solid;
    border-top: none;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #743ad5, #d53a9d,#d74e09,orange);
    background-color:var(--bodyF);
    box-shadow: 8px 0px 5px black;
    transition-duration: 1s;
    overflow-y: auto;
}
.tab-content.last{
    box-shadow: 8px 8px 5px black,0px 0px 5px black;
}
.w3-row-padding img {margin-bottom: 12px}

/* Ksquare University Logo Icon*/
.kg-logo {
    height: 54px;
    width: 36px;
    display: inline-block;
    background: url('./images/icons/logos/KG_logo.svg');
    background-size: cover;
    vertical-align: middle;
    margin: 0.1em 0.1em 0.1em 0em;
}
.kg:hover{
    text-shadow: 2px 2px 5px salmon;
}
.languages{height: 8ch}
.contact{
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(1, max-content);
}
.contact-item{
    margin-top: 0;
    padding: 1ch;
    /* border: 0.1em dashed teal; */
}
.contact-item.contact-info{
    grid-column: span 1;
}
.contact-item.contact-info p{
    margin: 1ch 0ch;
}
.contact-item.contact-form{
    grid-column: span 1;
    background-color: #000d11;
    border: 2px solid black;
    /* border: 4px solid #4715fc; */
    border-radius: 40px;
}
.contact-item p.btn{text-align: center;}
.contact-item button {
    width: 20ch;
    height: 6ch;
    color: var(--bodyF);
    border: double 0.1ch transparent;
    padding: 1ch;
    border-radius: 30px;
    background-image: linear-gradient(black, black), 
    linear-gradient(var(--angle),navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 8px 8px 5px black;
    cursor: pointer;
    /* animation: 1s rotateLighting linear infinite; */
}
.contact-item button:hover {
    color: white;
    background-image: linear-gradient(#005050, #005050), 
    linear-gradient(var(--angle),navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
}
.contact-item button.click {
    box-shadow: none;
    animation: 1200ms rotateLighting linear 1;
}
section#contactFormSection{display: none}
form#contactForm{visibility: hidden}
form#contactForm input{
    color: var(--bodyF);
    background-color: var(--footerBg);
    width: 35ch;
    height: 4ch;
    padding: 0ch 2ch;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: inset 0 0 5px black,
                8px 8px 5px black;
}
form#contactForm textarea{
    color: var(--bodyF);
    background-color: var(--footerBg);
    width: 35ch;
    height: 20ch;
    overflow: auto;
    resize: none;
    padding: 1ch 2ch;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: inset 0 0 5px black,
                8px 8px 5px black;
}
form#contactForm input::placeholder, form#contactForm textarea::placeholder{
    color: #00d8d8;
    font-weight: bold;
    opacity: 50%;
}

.icon{
    font-size: 2.5em;
    vertical-align: middle;
}
.icon.contact-icon{
    padding-right: 16px;
}
.icon.im-icon{
    padding: 8px 0px 8px 4px;
}
.icon.ref-icon{
    padding: 4px 8px;
}
.linkedin:hover{color: #458ed1}
.github:hover{color: #0d589e}

/*Footer classes*/
.references{
    margin: 0px 150px;
    min-width: 35ch;
    text-align: center;
}
.references p{
    padding: 1ch 0.5ch 0.5ch 0.5ch;
    text-align: center;
    margin-left: 140px;
}
.w3schools{
    color: #007070;
    font-size: x-large;
    font-weight: 1000;
}
.w3schools:hover{color: #00aaaa;}

.github-pages{
    color: #0d589e;
    font-size: 3em;
    font-weight: bolder;
    vertical-align: middle;
    padding-left: 0.5ch;
}
.github-pages:hover{color: #458ed1}
.github-pages span{
    font-size: 0.5em;
    vertical-align: middle;
    padding: 0.5ch;
}

/* Footer-icon hover-colors */
.fa-whatsapp{color: #069b69;}
.fa-telegram{color: #499de2;}
.fa-viber{color: #5e09c0}
.fa-font-awesome{color: #15379c}
.fa-font-awesome:hover{color: #206bcc}
.fa-opera:hover{color:darkred}
.fa-firefox-browser:hover{color: orangered}
.fa-chrome:hover{color: royalblue}
.fa-html5:hover{color: orange}
.fa-css3-alt:hover{color: #1b73bb;}
.fa-js-square:hover{color: #ffff3c}
.fa-node-js:hover{color:darkgreen}
.fa-aws:hover{color: orange}
.fa-git:hover{color:tomato}


/* Slideshow Gallery/Carousel */
/* Style the tab */
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 75vw;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #000000cc;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

/* Style The Dropdown Button */
.navbar-top{
    /* top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    display: block; */
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    color: white;
    text-align: center;
    background-color: black;
    height: max-content;
    /* z-index: 20; */
}
.navbar-button{
    /* display: inline-block; */
    /* grid-row: span 1;
    grid-column: span 1; */
    padding: 1ch 2ch;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.navbar-top a img{
    width: 4ch;
    vertical-align: middle;
} 

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: min-content;
    display: inline-block;
    border: 4px orange solid;
}
.dropbtn {
    color: white;
    margin: 0;
    /* padding: 1.5ch 1.8ch; */
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.dropbtn.active {
    background-color: #0080807e;
}
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    color: var(--bodyF);
    position: fixed;
    /* margin-top: 7px;
    margin-left: -80px; */
    max-width: max-content;
    background-color: var(--sidebar);
    z-index: 1;
  }
  .dropdown-content.active {
    display: block;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    display: block;
    padding: 12px 1ch;
  }
  
  .dropdown-content a:hover {
    color: teal;
    background-color: black;
  }

  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */

span.hide-small{
    display: inline-block;
}
.hide-large{
    display: none;
}
/* Animations */
@keyframes blinker {
    50% {
      opacity: 0;
    }
}
@keyframes fade {
    from {
      color: var(--bodyF);
    }
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateLighting {
    0%{
        background-image: linear-gradient(black, black), 
        linear-gradient(60deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    5%{
        background-image: linear-gradient(black, black), 
        linear-gradient(70deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    10%{
        background-image: linear-gradient(black, black), 
        linear-gradient(80deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    15%{
        background-image: linear-gradient(black, black), 
        linear-gradient(90deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    20%{
        background-image: linear-gradient(black, black), 
        linear-gradient(100deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    25%{
        background-image: linear-gradient(black, black), 
        linear-gradient(110deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    30%{
        background-image: linear-gradient(black, black), 
        linear-gradient(120deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    35%{
        background-image: linear-gradient(black, black), 
        linear-gradient(130deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    40%{
        background-image: linear-gradient(black, black), 
        linear-gradient(140deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    45%{
        background-image: linear-gradient(black, black), 
        linear-gradient(150deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    50%{
        background-image: linear-gradient(black, black), 
        linear-gradient(160deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    55%{
        background-image: linear-gradient(black, black), 
        linear-gradient(180deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    60%{
        background-image: linear-gradient(black, black), 
        linear-gradient(190deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    65%{
        background-image: linear-gradient(black, black), 
        linear-gradient(200deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    70%{
        background-image: linear-gradient(black, black), 
        linear-gradient(210deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    75%{
        background-image: linear-gradient(black, black), 
        linear-gradient(220deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    80%{
        background-image: linear-gradient(black, black), 
        linear-gradient(230deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    85%{
        background-image: linear-gradient(black, black), 
        linear-gradient(240deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    90%{
        background-image: linear-gradient(black, black), 
        linear-gradient(250deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    95%{
        background-image: linear-gradient(black, black), 
        linear-gradient(260deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
    100%{
        background-image: linear-gradient(black, black), 
        linear-gradient(270deg,navy,indigo 30%,fuchsia 60%,orangered 75%,orange 85%);
    }
}

/*Responsive design (screen width smaller than 600px)*/
@media only screen and (orientation:portrait) and (max-width: 600px) {
    span.hide-small,.tabs-section.hide-small{display: none}
    .hide-large{display: block}
    /* .navbar-top{display: grid;} */
    .topcorner{top: 60px;z-index: 1;}
    main {margin-left: 0}
    header,main,footer{width:100vw}
    details > p {max-width: 20ch}
    .sidebar,.topping {display: none}
    .topcorner,.logo-section,.logo {position: absolute}
    .expand-hr, .presentation, .tabs-section, .container, .contact {width: 95vw}
    .profilePhoto{min-height: 10vh;max-height:20vh;padding-bottom: 0;padding-left: 1px;}
    /* Mozilla */
    /* .presentation-item.moto{min-width: 10ch;max-width: 95vw;padding-left: 8px;} */
    /* Chromium */
    .presentation-item.moto{min-width: 10ch;max-width: 88vw;padding-left: 8px;}
    .presentation-item.moto p{min-width: 10ch;max-width:100%}
    .presentation-item.education{max-width: 95vw;padding: 0px 0px}
    .presentation-item.education h2{padding-left: 1ch}
    .cell.text{
        min-width: 8ch;
        padding: 0px 5px;
        max-height: max-content;
    }.cell.text p{
        width: 8ch;
        margin: 0;
        padding: 10px 10px;
    }.cell.image p{
        margin-left: 0.25em;
        padding: 0em 0em;
    }.shield{
        max-width: 50px;
        max-height: 50px;
        vertical-align: middle;
    }.shield.rounded{
        min-width: 20px;
        min-height: 20px;
        max-width: 50px;
        max-height: 50px;
        margin: 1em 0;
        vertical-align: middle;
    }

    .tabs{min-width: 15ch}
    .tabs button.tablink {min-width: 15ch;padding: 1.2ch 0ch 1.2ch 4px;}
    .description-zone{width:50vw}
    .description-zone .tabcontent {height: 42ch;padding: 0px 2px 0px 4px;}
    .description-zone .tabcontent.active {width: 50vw}

    .contact{grid-template-columns: repeat(1, max-content)}
    .contact-item.contact-form{background-color: #003f52;border: none;border-radius: 0;}
    .nodesList{padding-inline-start: 4px;}
    .node,.node.black::before{padding-left: 0px;margin-left: 0px;}
    .references {margin: 0px 0px;min-width: 18ch;}
    .references p {margin-left: 0px}
    .fa-opera,.fa-firefox-browser,.fa-chrome{animation: fade 2s ease infinite alternate-reverse;}
    .fa-html5,.fa-css3-alt,.fa-js-square,.fa-node-js,.fa-aws,.fa-git{animation: fade 2s ease infinite alternate-reverse;}
    .fa-opera{color:darkred}
    .fa-firefox-browser{color: orangered}
    .fa-chrome{color: royalblue}
    .fa-html5{color: orange}
    .fa-css3-alt{color: #1b73bb;}
    .fa-js-square{color: #ffff3c}
    .fa-node-js{color:darkgreen}
    .fa-aws{color: orange}
    .fa-git{color:tomato;color: #262626;}
}
/* @media (orientation:portrait){}
@media (orientation:landscape){}
@media screen and (){}
@media print and (){} */